APP_NAME=Surxon Taxi MVP
ENV=dev
SECRET_KEY=super-secret-key-change-me
ACCESS_TOKEN_EXPIRE_MINUTES=10080
DATABASE_URL=postgresql+psycopg2://taxi:taxi@localhost:5432/taxi_db
FCM_SERVER_KEY=
SMS_PROVIDER=eskiz
OTP_TTL_MINUTES=5
OTP_COOLDOWN_SECONDS=60
ESKIZ_BASE_URL=https://notify.eskiz.uz
ESKIZ_EMAIL=nurboyevnurmuhammad10@gmail.com
ESKIZ_PASSWORD=eHtdWEUbgvhdTj0uWBECmGWqRxtCkjHobPlqSeBO
ESKIZ_FROM=4546
ESKIZ_CALLBACK_URL=
ESKIZ_TIMEOUT_SECONDS=10
ESKIZ_TEST_MODE=true